# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add import "dotenv/config"; to prisma.config.ts, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports native connection strings for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB, and CockroachDB.
# See: https://pris.ly/d/connection-strings

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://USER:PASSWORD@HOST:6543/DB_NAME?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME"

PINECONE_API_KEY="YOUR_PINECONE_API_KEY"
TAVILY_API_KEY="YOUR_TAVILY_API_KEY"
HF_KEY="YOUR_HUGGINGFACE_API_KEY"
DEEPGRAM_API_KEY="YOUR_DEEPGRAM_API_KEY"
